<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/userCheck.css">
    <title>

        <%= currentUser.username %>

    </title>
</head>

<body>

    <nav id="navbar" class="navbar navbar-dark navbar-expand-md bg-dark text-light mb-2">
        <div class="container-fluid">
            <a class="navbar-brand border-bottom border-3 rounded-bottom border-light" href="#">
                <%= currentUser.username %>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-evenly" id="navbarNav">
                <ul class="navbar-nav d-flex w-100">
                    <li class="nav-item ms-2 mt-2"> <a href="/employee/myData"><button
                                class="btn btn-info">Home</button></a>
                    </li>
                    <li class="nav-item ms-2 mt-2"> <a href="/employee/askForHolidays"><button
                                class="btn btn-info">Dopust</button></a></li>
                    <li class="nav-item ms-auto me-right mt-2">
                        <a href="/logMeOut"><button class="btn btn-outline-info">Logout</button></a>
                    </li>
                </ul>
            </div>
    </nav>

    <div class="container text-center mt-3">
        <%- include('../flashError') %>
            <div class="row">
                <% if(findedEmployee) {%>
                    <div class="col ms-auto me-auto">
                        <div class="info text-center bg-success mt-1 mb-3 p-3">
                            <h1 class="text-center text-light">
                                <%= currentUser.username %>
                                    <%= currentUser.lastname %>
                            </h1>
                            <h3 class="text-center bg-success text-light">Vsi računi so plačani!</h3>
                        </div>
                    </div>
                    <% }else { %>
                        <div class="col ms-auto me-auto">
                            <div class="info text-center text-light bg-danger mb-3 mt-1 ms-auto me-auto">
                                <h1 id="forPay" class="text-center">
                                    <%= currentUser.username %>
                                        <%= currentUser.lastname %>
                                </h1>
                                <h3 class="text-center">Računi za plačilo</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div id="table">
                                <div class="table-info">
                                    <table id="table-data" class="table table-dark table-hover mt-3 text-center">
                                        <thead id="thead-data">
                                            <th class="col">Izdelek</th>
                                            <th class="col">Količina</th>
                                            <th class="col">Cena</th>
                                            <th class="col">Mesec</th>
                                            <th class="col">Teden</th>
                                            <th class="col">Plačano</th>
                                            <th class="col">Datum izdaje</th>
                                            <th class="col">Izdal</th>

                                        </thead>
                                        <tbody>
                                            <% for(let user of findedEmployee) {%>
                                                <% for(let product of user.products) {%>
                                                    <tr>
                                                        <td>
                                                            <%= product.name %>
                                                        </td>
                                                        <td>
                                                            <%= product.qty %>
                                                        </td>
                                                        <td>
                                                            <%= product.total %>
                                                        </td>

                                                        <td>
                                                            <%= user.month %>
                                                        </td>
                                                        <td>
                                                            <%= user.kt %>
                                                        </td>
                                                        <td>
                                                            <img src="../notPay.jpg" alt="Not Payed">
                                                        </td>
                                                        <td>
                                                            <%= user.soldDate %>
                                                        </td>
                                                        <td>
                                                            <%= user.izdal %>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } %>
                                                            <tr class="bg-danger">
                                                                <td>Za Plačat</td>
                                                                <td></td>
                                                                <td id="total"></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <% } %>
            </div>

            <div class="row">
                <div class="col ms-auto me-auto mt-5 mb-5">
                    <caption class="mb-2">
                        <h2 class="mb-3 p-2">
                            Stanje letnega dopusta in ur za leto <%= year %>
                        </h2>
                    </caption>
                </div>
                <div id="stanje" class="row">
                    <table id="stanjeLetnegaDopusta" class="table table-info mt-2 mb-5">
                        <thead id="stanjeHead">
                            <th>Lanski dopust</th>
                            <th>Letni dopust</th>
                            <th>Skupaj</th>
                            <th>Koriščeno</th>
                            <th>Preostalo</th>
                            <th>Ure</th>
                            <th>Koriščeno</th>
                            <th>Skupaj ure</th>
                        </thead>
                        <tbody>
                            <% for(user of holidayInfo) {%>
                                <tr>
                                    <td id="lanskiDopust">
                                        <strong>
                                            <%= user.lastYearHolidays %>
                                        </strong>
                                    </td>
                                    <td id="letniDopust">
                                        <strong>
                                            <%= user.holidays %>
                                        </strong>
                                    </td>
                                    <td><strong id="skupaj">

                                        </strong>
                                    </td>

                                    <td>
                                        <strong id="korisceno">
                                            <%= user.usedHolidays %>
                                        </strong>
                                    </td>
                                    <td><strong id="preostalo">

                                        </strong>
                                    </td>

                                    <td>
                                        <strong id="ure">

                                            <%= user.overtime %>
                                        </strong>
                                    </td>
                                    <td>
                                        <strong id="korisceneUre">
                                            0
                                        </strong>
                                    </td>
                                    <td>
                                        <strong id="preostaleUre">

                                        </strong>
                                    </td>
                                    <% } %>
                                </tr>
                        </tbody>
                    </table>
                </div>

            <!-- VACATIONS -->

                <div class="row">
                    <caption class="mb-2 mt-2">
                        <h2 class="mb-3">
                            Planiran dopust za leto <%= year %>
                        </h2>
                    </caption>
                </div>

                <div id="planiran" class="row">
                    <table id="planiranDopust" class="table table-bordered border-dark ms-auto me-auto mt-4 align-items-center">
                        <thead id="planiranHead">
                            <th>Prvi dan</th>
                            <th>Zadnji dan</th>
                            <th>Dni</th>
                            <th>Status</th>
                            <th>Datum</th>
                            <th>Uredi</th>
                            <th>Izbriši</th>
                        </thead>
                        <% for(info of holidayInfo) {%>
                            <% for(userInfo of info.pendingHolidays) {%>
                                <% let format=/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;%>
                                <% let currentDate=new Date() %>
                                <% let dateParts=[]; %>
                                <% let dateString=userInfo.endDate.toString();%>
                                <% let hasDot=dateString.includes('.');%>
                                <% if(hasDot) {%>
                                    <% dateParts=dateString.split('.');%>
                                    <% secondDateFormat=new Date(dateParts[2],dateParts[1]-1,dateParts[0])%>
                                    <% if(secondDateFormat > currentDate) {%>
                                <tr id="myRow" class="">
                                    <td>
                                        <strong>
                                            <%= userInfo.startDate%>
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <%= userInfo.endDate%>
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <%= userInfo.days%>
                                        </strong>
                                    </td>
                                    <td id="status" class="">
                                        <strong>
                                            <%= userInfo.status%>
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <%= userInfo.applyDate%>
                                        </strong>
                                    </td>
                                    <% if(userInfo.status=='Pending' ) {%>
                                        <td>
                                            <strong>
                                                <a href="/employee/myData/<%= userInfo.id%> "><button
                                                        class="btn btn-warning btn-sm">Uredi</button></a>
                                            </strong>
                                        </td>
                                        <td>
                                            <strong>
                                                <form class="d-inline ms-auto me-auto"
                                                    action="/employee/myData/delete/<%= user.id%>" method="post">
                                                    <input type="text" name="deleteVacId" id="deleteVacId" hidden
                                                        value="<%= userInfo.id%>">
                                                    <button class="btn btn-danger btn-sm">Izbriši</button>
                                                </form>
                                            </strong>

                                        </td>
                                        <% }else{ %>
                                            <td>
                                                <a href="#"><button
                                                        class="btn btn-secondary btn-sm">Neaktivno</button></a>
                                            </td>
                                            <td>
                                                <button class="btn btn-secondary btn-sm">Neaktivno</button>

                                            </td>
                                            <% } %>
                                </tr>
                                <% } %>
                                    <% } %>
                                    <% } %>
                                    <% } %>
                    </table>
                </div>


                <div id="ure" class="row w-100 mt-5 ms-auto me-auto">
                    <h3 class="text-center mt-5">Poraba ur</h3>
                    <table id="planiraneUre" class="table table-bordered border-dark ms-auto me-auto align-items-center">
                        <thead>
                            <tr>
                            <th>Datum</th>
                            <th>Dnevi</th>
                            <th>Ure</th>
                            <th>Status</th>
                            <th>Uredi</th>
                            <th>Izbriši</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(data of holidayInfo) {%>
                            <% for(hours of data.hours) {%>
                                <tr>
                                <td class="align-middle"><strong><%= hours.date %></strong></td>
                                <td class="align-middle"><strong><%= hours.days %></strong></td>
                                <td class="align-middle"><strong><%= hours.hours %></strong></td>
                                <td class="align-middle"><strong><%= hours.status %></strong></td>
                                <td class="align-middle"><strong>
                                    <a href="/overtime/edit/<%= hours.id%> "><button
                                            class="btn btn-warning btn-sm">Uredi</button></a>
                                </strong></td>
                                <td class="align-middle"><strong>
                                    <form class="d-inline ms-auto me-auto"
                                        action="/overtime/delete/<%= user.id%>" method="post">
                                        <input type="text" name="hours_id" id="hours_id" hidden
                                            value="<%= hours.id%>">
                                        <button class="btn btn-danger btn-sm">Izbriši</button>
                                    </form>
                                </strong></td>
                            </tr>
                            <% } %>
                        <% } %>
                        </tbody>
                    </table>
                </div>

                <!-- HISTORY -->
                <div class="row mt-5">
                    <h3 class="text-center mt-5">Vse odane vloge</h3>
                </div>

                <div id="history" class="row mb-5">
                    <table id="planiranDopust" class="table ms-auto me-auto mt-4 align-items-center">
                        <thead id="planiranHead">
                            <th>Prvi dan dopusta</th>
                            <th>Zadnji dan dopusta</th>
                            <th>Dni</th>
                            <th>Datum</th>
                            <th>Status</th>
                        </thead>
                        <% for(info of holidayInfo) {%>
                            <% for(userInfo of info.pendingHolidays) {%>
                                <% let format=/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;%>
                                <% let currentDate=new Date() %>
                                <% let dateParts=[]; %>
                                <% let dateString=userInfo.endDate.toString();%>
                                <% let hasDot=dateString.includes('.');%>
                                <% if(hasDot) {%>
                                    <% dateParts=dateString.split('.');%>
                                    <% secondDateFormat=new Date(dateParts[2],dateParts[1]-1,dateParts[0])%>
                                    <% if(secondDateFormat < currentDate) {%>
                                <tr id="myRow" class="">
                                    <td>
                                        <strong>
                                            <%= userInfo.startDate%>
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <%= userInfo.endDate%>
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <%= userInfo.days%>
                                        </strong>
                                    </td>
                                    <td id="status" class="">
                                        <strong>
                                            <%= userInfo.applyDate%>
                                        
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <%= userInfo.status%>
                                        </strong>
                                    </td>
                                   
                                </tr>
                                <% } %>
                                    <% } %>
                                    <% } %>
                                    <% } %>
                    </table>
                </div>
            </div>
    </div>


    <script>

        let user = document.getElementById('forPay')
        if (user) {
            const my_Table = document.getElementById('table-data');
            const row = my_Table.rows.length - 2;
            let pay = 0;
            let qty = 0;
            for (let i = 1; i <= row; i++) {
                var x = document.getElementById('table-data').rows[i].cells[2].innerHTML;
                pay += parseFloat(x, 10)
            }
            document.getElementById('total').innerHTML = pay.toFixed(2) + '' + '€'
            document.getElementById('total').style.backgroundColor = "red"
        }

        const letniDopust = document.getElementById('stanjeLetnegaDopusta');
        const dopustRow = letniDopust.rows.length - 1;
        if (dopustRow > 0) {
            let lanskiDopust = document.getElementById('lanskiDopust').innerText;
            let dopust = document.getElementById('letniDopust').innerText;
            let skupaj = parseInt(lanskiDopust) + parseInt(dopust);
            document.getElementById('skupaj').innerText = skupaj;
            let korisceno = document.getElementById('korisceno').innerText;
            let preostalo = parseInt(skupaj) - parseInt(korisceno);
            document.getElementById('preostalo').innerText = preostalo;
            let ure = document.getElementById('ure').innerText;
            let korisceneUre = document.getElementById('korisceneUre').innerText;
            let preostaleUre = parseFloat(ure) - parseFloat(korisceneUre);
            document.getElementById('preostaleUre').innerText = preostaleUre.toFixed(2);
        }
        const vlogaDopust = document.getElementById('planiranDopust');
        const planiranRows = vlogaDopust.rows.length - 1;
        if (planiranRows > 0) {
            for (let i = 1; i <= planiranRows; i++) {
                var status = document.getElementById('planiranDopust').rows[i].cells[3].innerText;
                if (status == 'Approved') {
                    document.getElementById('planiranDopust').rows[i].setAttribute('class', 'bg-success')
                }
                if (status == 'Rejected') {
                    document.getElementById('planiranDopust').rows[i].setAttribute('class', 'bg-danger')
                }
                else{
                    document.getElementById('planiranDopust').rows[i].setAttribute('class', 'bg-info')

                }

            }

        }

        const hours = document.getElementById('planiraneUre');
        const rowsOfHours = hours.rows.length - 1;

        if(rowsOfHours > 0){

            for(let i = 1; i <= rowsOfHours; i++){
                var status = document.getElementById('planiraneUre').rows[i].cells[3].innerText;
                if (status == 'Approved') {
                    document.getElementById('planiraneUre').rows[i].setAttribute('class', 'bg-success')
                }
                if (status == 'Rejected') {
                    document.getElementById('planiraneUre').rows[i].setAttribute('class', 'bg-danger')
                }
                else{
                    document.getElementById('planiraneUre').rows[i].setAttribute('class', 'bg-info')
                }
            }
        }

    </script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>
